* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #090909;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.screen {
    width: 100%;
    max-width: 500px;
    background: #151515;
    border: 1px solid #333;
    border-radius: 24px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0,0,0,.5);
}

.hidden {
    display: none !important;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 26px;
}

p {
    color: #aaa;
    line-height: 1.8;
}

button {
    width: 100%;
    border: 0;
    border-radius: 14px;
    padding: 16px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #e0a82e;
    color: #111;
}

button:hover {
    transform: translateY(-2px);
}

input {
    width: 100%;
    padding: 16px;
    margin-top: 15px;
    border-radius: 14px;
    border: 1px solid #444;
    background: #0d0d0d;
    color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    outline: none;
}

.room-code {
    margin: 25px 0;
    padding: 25px;
    border-radius: 18px;
    background: #0c0c0c;
    border: 1px solid #333;
}

.room-code span {
    display: block;
    color: #999;
    margin-bottom: 10px;
}

.room-code strong {
    display: block;
    font-size: 34px;
    letter-spacing: 7px;
    color: #e0a82e;
}

.players {
    display: grid;
    gap: 12px;
    margin: 25px 0;
}

.players div {
    padding: 18px;
    border-radius: 14px;
    background: #0d0d0d;
    border: 1px solid #333;
}

#gameScreen {
    max-width: 900px;
}

#gameContent {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

@media (max-width: 500px) {
    .screen {
        padding: 22px;
    }

    h1 {
        font-size: 27px;
    }

    .room-code strong {
        font-size: 28px;
    }
}